<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.getfit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GETFIT">

        <activity
            android:name=".ToDo_List.SignIn"
            android:label="Sign In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ToDo_List.SignUp"
            android:label="Sign Up">
        </activity>

        <activity
            android:name=".ToDo_List.BMI"
            android:label="BMI" />


        <activity
            android:name=".ToDo_List.UserProfile"
            android:label="User Profile"
            android:parentActivityName=".Nutrition.MainActivity"></activity>

        <activity
            android:name=".ToDo_List.To_Do_List"
            android:label="To Do List"
            android:parentActivityName=".Nutrition.MainActivity">

        </activity>

        <activity
            android:name=".ToDo_List.Add_ToDo"
            android:label="Add List"
            android:parentActivityName=".ToDo_List.To_Do_List" />

        <activity android:name=".ToDo_List.UpdateToDo"
            android:parentActivityName=".ToDo_List.To_Do_List">
        </activity>




        <activity android:name=".Supplement.UpdateSupplement"
            android:label="Update Supplement"
            android:parentActivityName=".Supplement.SupDashboard">
        </activity>

        <activity android:name=".Supplement.ViewSupplement"
            android:label="View Supplement"
            android:parentActivityName=".Supplement.SupDashboard">
        </activity>

        <activity android:name=".Supplement.BMICalculator"
            android:label="BMI Calculator"
            android:parentActivityName=".Nutrition.MainActivity">
        </activity>


        <activity android:name=".Supplement.SupDashboard" />
        <activity android:name=".Nutrition.DeletePopUp"></activity>
        <activity android:name=".Nutrition.macroCal"
            android:label="Macro Finder"
            android:parentActivityName=".Nutrition.MainActivity"/>

        <activity android:name=".Workout.ViewExerciseImage"
            android:label="WorkOut Image"
            android:parentActivityName=".Workout.ModifyExercise"></activity>
        <activity android:name=".Workout.ImageUpload"
            android:label="Upload WorkOut Image"
            android:parentActivityName=".Workout.AddExercise"/>
        <activity
            android:name=".Workout.AllExercises"
            android:label="WorkOuts Listing"
            android:parentActivityName=".Workout.WorkoutDashBoard" />
        <activity
            android:name=".Workout.ViewExercise"
            android:label="Exercise"
            android:parentActivityName=".Workout.WorkOuts" />
        <activity
            android:name=".Workout.WorkOuts"
            android:label="WorkOut Packages">

        </activity>
        <activity
            android:name=".Workout.ModifyExercise"
            android:label="Modify Exercise"
            android:parentActivityName=".Workout.AllExercises" />
        <activity
            android:name=".Workout.WeightConverter"
            android:label="Weight Converter"
            android:parentActivityName=".Workout.WorkoutDashBoard" />
        <activity
            android:name=".Workout.Counter"
            android:label="Count Down Timer"
            android:parentActivityName=".Workout.WorkOuts" />
        <activity
            android:name=".Workout.AddExercise"
            android:label="Add Exercise"
            android:parentActivityName=".Workout.WorkoutDashBoard" />
        <activity
            android:name=".Workout.WorkoutDashBoard"
            android:label="WorkOut DashBoard" />
        <activity android:name=".Nutrition.NutritionNavigate" />
        <activity
            android:name=".Nutrition.macros"
            android:label="Added Macros"
            android:parentActivityName=".Nutrition.NutritionNavigate" />
        <activity
            android:name=".Nutrition.AddMeal"
            android:label="Add a Meal"
            android:parentActivityName=".Nutrition.NutritionNavigate" />
        <activity
            android:name=".Nutrition.UpdateMeal"
            android:label="Update a Meal"
            android:parentActivityName=".Nutrition.NutritionNavigate" />
        <activity
            android:name=".Nutrition.AddMacros"
            android:label="Add new Macro record"
            android:parentActivityName=".Nutrition.macros" />
        <activity
            android:name=".Nutrition.MealList"
            android:label="Added Meal Plans"
            android:parentActivityName=".Nutrition.NutritionNavigate" />
        <activity android:name=".Nutrition.ViewMeals" />
        <activity android:name=".Nutrition.MainActivity">


        </activity>
        <activity android:name=".Supplement.AddSupplement"
            android:label="Add Supplement"
            android:parentActivityName=".Supplement.SupDashboard">
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>